*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(aliceblue 40%, rgb(165, 202, 234));
    height: 100vh;
    margin: 0;
}

